*{
	margin: 0px;
	font-family: helvetica,arial;
}
html{
	background-color: grey;
}
body{
	width: 80%;
	margin: auto;
	background-color: white;
}
header{
	background-color: #FF9900;
	margin-bottom: 10px;
}
header h1,header h2{
	padding-top: 20px;
	padding-left: 20px;
	margin: bottom:0px;
	font-family: verdana,arial;
}

nav {
	padding-top:10px;
	background-color: #6599FF;
	height: 30px;
}
nav ul{
	
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	padding-right: 10px;
	height: 100%;
}
nav>ul>li>a{
text-decoration: none;
text-transform: uppercase;
font-size: 1.2em;
font-family: helvetica;
color: white;
padding:10px;
height: 100%;
width: 100%;
}
nav>ul>li>a:hover{
	background-color: white;
	color:#6599FF 
}

footer{
	padding: 10px;
}
.header-title{
	margin-bottom: 10px;
}

.jumbotron{
height: 200px;
background-color: #EBF4FA;
padding: 50px;
padding-left: 50px;
}
.jumbotron>:first-child {
	padding-bottom: 10p
	text-transform: uppercase;
	font-size: 2em;

}
.jumbotron>:nth-child(2){
	font-size: 1em;
	padding-top: 10px;
	
}
.jumbotron>button{
	text-decoration: none;
	border-radius: 10px;
	padding:10px;
	margin-top: 10px;
	color: white;
	text-align: center;
	background-color: green;
	width:150px;
}
.jumbotron>button:hover{
	border: solid 2px green;
	background-color: white;
	color: green;
}